.welcome-block {
    display: flex;
    width: 95%;
    margin: 140px auto;
}

.catalogue {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 25px;
    background-color: lightgrey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.catalogue a {
    color: rgb(79, 76, 76);
}

.sales {
    display: flex;
    justify-content: center;
    flex: 4;
    background-color: rgb(186, 229, 161);
    padding: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.sales img{
    width: 230px;
    margin: 10px;
}



.goods-wrapper {
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}

.goods {
    width: 230px;
    height: 320px;
    border: 3px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(229, 234, 229);
    border-radius: 10px;
    padding: 10px;
}

.goods a {
    color: rgb(31, 35, 31);
}

.goods img {
    max-width: 80%;
}